@page "/board"
@using DevBoard.Shared
<h3>DevBoard</h3>

@if (Works == null)
{
    <div>Loading...</div>
}
else
{
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>Дата:</th>
                <th>Название:</th>
                <th>Всего:</th>
                <th style="text-align:center">Действие:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var work in Works)
            {
                <tr>
                    <td>@work.Start.ToShortDateString()</td>       
                    <td>@work.Name</td>
                    <td style="white-space:nowrap">@work.GetDuration()</td>
                    <td style="text-align:center">
                        <button class="btn btn-dark">
                            <span class="oi oi-media-play" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>   
            }

            <!--Добавление новой работы.-->
            <tr>
                <td></td>
                <td>
                    <input type="text" id="inputName" class="form-control" @bind="Work.Name">
                </td>
                <td></td>
                <td style="text-align:center">
                    <button class="btn btn-dark">
                        <span class="oi oi-plus" aria-hidden="true" @onclick="Add"></span>
                    </button>
                </td>
            </tr>

            <tr>
                <td></td>
                <td style="text-align:right">Всего:</td>
                <td>@Work.GetFinishTime(Works)</td>
                <td></td>
            </tr>

        </tbody>
    </table>
}
